@using FlowWebApp.Models
@model Payment

<div class="container">
    <div class="row">
        <h1>Payment</h1>
        <span>Make your payment to enable your report and download it</span>
        <hr />
        <form asp-action="Pay" method="post" autocomplete="on">
            @Html.AntiForgeryToken()
            <input asp-for="Id" class="d-none" hidden="hidden" />
            <div class="form-group col-sm-6 center">
                <label asp-for="Price"></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-credit-card"></i>
                        </span>
                    </div>
                    <input class="form-control" type="text" value="@String.Format("{0:n0}", Model.Price)" disabled="disabled" readonly="readonly" />
                    <input type="hidden" asp-for="Price" disabled="disabled" />
                    <div class="input-group-append">
                        <span class="input-group-text">CLP</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6 center">
                <label asp-for="PeriodDate"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    <input class="form-control" type="month" value="@Model.PeriodDate.ToString("yyyy-MM")" disabled="disabled" readonly="readonly" />
                    <input type="hidden" asp-for="PeriodDate" disabled="disabled" />
                </div>
            </div>
            <div class="space-v"></div>
              <div class="form-group col-sm-6 center">
                <label >
                    ReportId
                </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-tag"></i>
                        </span>
                    </div>
                    <input type="text" disabled asp-for="Report.RepoDownloadFilename" value="@Model.Report.DownloadFile" class="form-control" />
                </div>
              </div>
            <div class="space-v"></div>
            <div class="form-group col-sm-12 center m-0">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    Confirmar y Pagar

                </button>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />