@model FlowWebApp.Models.Report

@{
    ViewData["Title"] = "Request a new Report";
}

<h1>Request a new report</h1>
<h5>Upload template file</h5>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-12">
           <form  enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            
            <div>Please upload your template file for process a new report request</div>
            <div class="space-v"></div>
            <input class="form-control" type="file" name="file" />
            <div class="space-v"></div>
            @if (ViewBag.Message == null)
            {
                <button class="btn btn-primary" type="submit">Upload</button>
            }else
            {
                <div class="alert alert-info">@ViewBag.Message</div>
            }

                     
        </form>
    </div>
</div>

<div class="space-v"></div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
