@model IEnumerable<FlowWebApp.Models.Report>

@{
    ViewData["Title"] = "My Reports";
}

<h3>
    <b>My Reports</b>
</h3>
<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Request a new report</a>
</p>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Report</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="100">
                    <i class="fa fa-inbox"></i>
                    No reports in your inbox
                </td>
            </tr>
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DownloadFile.FileName</td>
                <td>
                    <span style="color: green;">available </span>
                    <span style="color: red;">Pending payment</span>
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">Found (0) matches</th>
        </tr>
    </tfoot>
</table>
